@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    width: 80%;
    margin: auto;
}

body {
    margin-bottom: 60px;
    background-color: #92a8d1;
    font-family: "Mali";
}

@media only screen and (max-width: 500px) {
    body {
        width: 100%;
    }
    img {
        width: 80%
    }
    input {
        width: 95%
    }
    textarea {
        width: 98%
    }
}

.login-page {
    width: 50%;
    margin: auto;
}
  
  .image-container img {
    transition: transform 0.3s ease;
  }

  .image img {
    transition: transform 0.3s ease;
  }
  
  .image-container:hover img {
    transform: translate(5px, 30px)
  }
  
  .image:hover img {
    transform: scale(0.98);
  }